*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#FFE609, #998A05);
    background-attachment: fixed;
}
header{
    width: 100%;
    background-color: #ffffff;
    height: 120px;
}
.container{
    position: relative;
    width: 100%;
}
.logo{
    position: absolute;
    top: -2.5%;
    left: -1%;
}
.botao-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao{
    margin-right: 16px;
    margin-top: 38px;
    font-size: 60px;
    border: none;
    background: none;
    transition: 0.2s;
    cursor: pointer;
}
.botao:hover{
    transform: scale(1.2);
}
.duck{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19vh;
}
.duck_button{
    background: none;
    border: none;
    cursor: pointer;
}
.texto{
    text-align: center;
    font-size: 50px;
    transition: 0.2s;
}
.duck_button:hover{
    transform: scale(1.2)
}