*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#FFE609, #998A05);
    background-attachment: fixed;
}
header{
    width: 100%;
    background-color: #ffffff;
    height: 120px;
}
.container{
    position: relative;
    width: 100%;
}
.logo{
    position: absolute;
    top: -2.5%;
    left: -1%;
}
.botao-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao{
    display: inline-block;
    height: 55px;
    width: 55px;
    margin-right: 16px;
    position: relative;
    margin-top: 38px;
    font-size: 60px;
    border: none;
    background: none;
    pointer-events: none;
}